<aside class="navbar-insert mdc-drawer mdc-drawer--modal">
    <div class="mdc-drawer__content">
        <div style="margin: 15px;text-align:center;">
            <img src="/graphics/galaxy_round.png" style="width: 90%;"/>
        </div>
        <div class="mdc-list">
            <a class="mdc-list-item" href="https://www.instagram.com/galaxy.8212/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">camera_enhance
                </i>
                <span class="mdc-list-item__text">My Insta!</span>
            </a>
            <a class="mdc-list-item" href="https://www.youtube.com/channel/UCYyJ2CAiAuqnYk-khy8ANFw/featured?view_as=subscriber">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">movie_filter
                </i>
                <span class="mdc-list-item__text">My YouTube!</span>
            </a>
            <a class="mdc-list-item" href="/">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">account_circle</i>
                <span class="mdc-list-item__text">About Me</span>
            </a>
            {% for project in site.pages | sort "title" %}
            {% if project.url != "/" and project.url != "/sitemap.xml" and project.url[-4:-1] != ".css" %}
            <a class="mdc-list-item" href="{{ project.url | relative_url }}">
                <i class="material-icons mdc-list-item__graphic" aria-hidden="true">{{ project.icon }}</i>
                <span class="mdc-list-item__text">{{ project.title }}</span>
            </a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</aside>

<div class="mdc-drawer-scrim"></div>
