<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <!-- cookie notice is included automatically -->
        {% include cookie-notice.html %}

        <!-- content of navbar is included automatically -->
        {% include navbar.html %}

        <div class="mdc-drawer-app-content">
            <header class="mdc-top-app-bar app-bar" id="app-bar">
                <div class="mdc-top-app-bar__row">
                    <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
                        <a href="javascript:void(0);" class="demo-mensu material-icons mdc-top-app-bar__navigation-icon">menu</a>
                        <span class="mdc-top-app-bar__title">{{ page.title }} | Galaxy8212</span>
                    </section>
                </div>
            </header>

            <main class="main-content" id="main-content">
                <div class="mdc-top-app-bar--fixed-adjust">
                    {{ content }}
                </div>
            </main>
            {% include footer.html %}
        </div>
    </body>
</html>
